

.bullets-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.selected-options {
  margin-top: 20px;
}

.selected-options span {
  display: inline-block;
  background-color: #f0f0f0;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.selected-options span button {
  margin-left: 10px;
  color: red;
  cursor: pointer;
}